# Backend server
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
PORT=5000

# Auth0 public app settings
AUTH0_DOMAIN=<your-auth0-domain>
AUTH0_CLIENT_ID=<your-auth0-client-id>
AUTH0_REDIRECT_URI=http://localhost:5000/notes.html
AUTH0_LOGOUT_REDIRECT_URI=http://localhost:5000/
